.stack-work

# All the exercises in order
run-length-encoding
hamming
nucleotide-count
grade-school
etl
raindrops
accumulate
strain
phone-number
beer-song
triangle
scrabble-score
kindergarten-garden
robot-simulator
secret-handshake
anagram
simple-linked-list
list-ops
meetup
roman-numerals
prime-factors
allergies
all-your-base
largest-series-product
clock
matrix
house
pascals-triangle
pythagorean-triplet
saddle-points
series
sieve
atbash-cipher
crypto-square
nth-prime
word-count
binary-search-tree
luhn
queen-attack
ocr-numbers
food-chain
custom-set
parallel-letter-frequency
simple-cipher
palindrome-products
robot-name
pig-latin
say
bank-account
sublist
linked-list
zebra-puzzle
minesweeper
wordy
change
alphametics
bowling
connect
dominoes
sgf-parsing
go-counting
lens-person
zipper
forth
pov
